<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="createbody">
        <h1 style="color: blue;">Create User Data</h1><br><br>
    <form ng-submit="createEntry()">
        <label for="id" class="form-label">ID :</label><br>
        <input type="number" ng-model="id"> <br><br>

        <label for="name" class="form-label">Name :</label><br>
        <input type="text" ng-model="name"> <br><br>

        <label for="email" class="form-label">Email :</label><br>
        <input type="email" ng-model="email"> <br><br>
        
        <label for="number" class="form-label">Phone Number :</label><br>
        <input type="text" ng-model="number"> <br><br>
        <br>
        <input type="submit" value="create">
    </form>
</div>
</body>
</html>