<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="updatebody">
        <h1 style="color: blue;">Update User Data</h1><br><br>
        <form ng-submit="updateEntry()">
                <label for="id" class="form-label">Id :</label><br>
                        <select ng-model="id" id="" required ng-options="data.id for data in datas" ng-change="getId()">
                            <option selected disabled value="">Select one</option>
                        </select><br><br>
                        <label for="name" class="form-label">Name :</label><br>
                        <input type="text" ng-model="name" required><br><br>
                        <label for="orVal" class="form-label">Email :</label><br>
                        <input type="email" ng-model="email"  required><br><br>
                        <label for="number" class="form-label">Phone Number :</label><br>
                        <input type="text" ng-model="number"  required><br><br>
                <input type="submit" value="Update"> 
        </form>
    </div>
</body>

</html>