body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    ;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 35px;
    background-color: rgb(233, 202, 149);
}

h1 {
    font-family: 'Franklin Gothic Medium';
    padding: 20px;
    border-color: darkgray;
    text-align: center;
}

label {
    padding: 10px;
}

.contain {
    width: 40%;
    height: 70%;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 15px;
    border-radius: 15px;
    
    border: 1px solid;
    background-color: white;
    border-color: grey;
    box-shadow: 1px 1px 8px black;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=password] {
    border-radius: 8px;
    margin-top: 10px;
    width: 95%;
    height: 37px;
    border: none;
    font-size: 18px;
    background-color: #cfdbd5;
}

input[type=text]:hover {
    background-color: whitesmoke;
    border: none;
    box-shadow: 1px 1px 6px;
}

input[type=email]:hover {
    background-color: whitesmoke;
    border: none;
    box-shadow: 1px 1px 6px;
}

input[type=password]:hover {
    background-color: whitesmoke;
    border: none;
    box-shadow: 1px 1px 6px;
}

input[type=tel]:hover {
    background-color: whitesmoke;
    border: none;
    box-shadow: 1px 1px 6px;
}

.dot{
    margin-left:1vw;
}
button {
    margin-left: 9%;
    border-radius: 9px;
    width: 85%;
    height: 40px;
    font-size: 20px;
    color: darkgreen;
    background-color: white;
    border-color: rgb(8, 169, 8);
    box-shadow: 1px 1px 8px;

}
button:hover {
    background-color: rgb(15, 112, 15);
    color: white;
    border: none;

}

input[type=checkbox] {
    border-radius: 15px;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
input[type=radio]:hover{
    box-shadow: 1px 1px 4px;
}
a{
    text-decoration: none ;
}
a:hover{
    border: 2px solid;
    width:200%;
    height: 15%;
    border-radius: 4px;
    background-color:rgb(50, 50, 228);
    color:white;
    box-shadow: 1px 1px 4px;
}



