body {
    font-family: Arial;
}

.topnav a {
    text-decoration: none;
    padding: 15px 16px;
    font-size:25px;
}

.topnav a:hover {
    background-color: lightblue;
    border-radius: 25px;
}

.topnav a:active {
    background-color: lightblue;
}

.move {
    background-color: yellow;
    padding: 10px;
}

.move a {
    text-decoration: none;
    padding: 10px;
}

.button {
    text-decoration: none;
}