body {
    font-family: Arial;
}

.topnav a {
    text-decoration: none;
    padding: 15px 16px;
    font-size:25px;
}

.topnav a:hover {
    background-color: lightblue;
    border-radius: 25px;
}

.topnav a:active {
    background-color: lightblue;
}

.move {
    background-color: yellow;
    padding: 10px;
}

.move a {
    text-decoration: none;
    padding: 10px;
}

.button {
    text-decoration: none;
}
input[type=text] {
    width: 35%;
    padding: 10px 10px;
    margin: 8px 100px;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    background-color: #ebebeb;
  }
  input[type=password] {
    width: 35%;
    padding: 10px 10px;
    margin: 8px 100px;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    background-color: #ebebeb;
  }
  input[type=email] {
    width: 35%;
    padding: 10px 10px;
    margin: 8px 100px;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    background-color: #ebebeb;
  }
  input[type=submit] {
    width: 26%;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #c0d6df;
    font-size: 19px;
  }
  input[type=reset] {
    width: 9%;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #c0d6df;
    font-size: 19px;
  }
  textarea {
    width: 37%;
    padding: 10px 10px;
    margin: 8px 25px;
    box-sizing: border-box;
    border: none;
    border-radius: 9px;
    background-color: #ebebeb;
  }
    
